<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551403336073-bt7potlejl4tir0486cu8r18d384ju2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551403336073-bt7potlejl4tir0486cu8r18d384ju2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBgkVNHTqdWF42Np9eN_ppZNwK6ze56Erg</string>
	<key>GCM_SENDER_ID</key>
	<string>551403336073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invertase.SproutApp</string>
	<key>PROJECT_ID</key>
	<string>sprout-f30ce</string>
	<key>STORAGE_BUCKET</key>
	<string>sprout-f30ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551403336073:ios:a534ecfabdec1b7195f158</string>
	<key>DATABASE_URL</key>
	<string>https://sprout-f30ce.firebaseio.com</string>
</dict>
</plist>